# Terraform
*.tfstate
*.tfstate.*
*.tfvars
.terraform/
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Credenciales sensibles
*.json

# Archivos de sistema
.DS_Store
Thumbs.db
